# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# 
pcexport-admin/overlays/
pcexport-admin2/overlays/
.gitignore

# hidden directory
hidden-git/
!hidden-git/.gitkeep

# Groovy
out/

